<div id="<%= dom_id fav_color %>">
  <!--<td>
    <strong>First name:</strong>
    <%= fav_color.first_name %>
  </td>

  <td>
    <strong>Last name:</strong>
    <%= fav_color.last_name %>
  </td>

  <td>
    <strong>Color:</strong>
    <%= fav_color.color %>
  </td>-->

  <%= fav_color.first_name %> <%= fav_color.last_name %> likes the color <%= fav_color.color %>.

</div>
